<div>
    
</div>

<!--
<nav>
<div class="infoBox" style="margin-left:70px;margin-top:70px">
    <pre style= "font-size:30px;">
<img src="../../assets/Waterloo_Engineering.png" alt="University of Waterloo" style="width:500px;height:100px;border:0;padding:10px">
    Electrical Engineering 2024
    </pre>
    
</div>
</nav>

<div class="infoBox" style="float:right;margin-right:70px;margin-top:70px"> 
    <h1 style="text-align: center"> Programming Skills</h1>
    <pre style= "font-size:30px;">
Languages: <a style ="font-size:18px">C++ • Python • JavaScript • SQL • Swift • HTML</a>
Tools: <a style="font-size:18px">Angular • React • CSS • Node • Visual Studio • Git</a>
Other: <a style="font-size:18px">Microsoft Office • Arduino</a>
    </pre>
</div>
<br>
<nav>
    <div class="infoBox" style="margin-left:70px;margin-top:70px;margin-bottom:70px">
        <h1 style="text-align: center"> Work Experience</h1>
        <pre style= "font-size:30px;">
YIPI: <a style = "font-size:20px;">Student worker for the financial crimes 
         unit of the Toronto Police</a>
Cashier: <a style = "font-size:20px">Cashier for Pizza Nova</a>        
        </pre>
    </div> </nav><div class="infoBox" style="float:right;margin-right:70px;margin-top:70px;margin-bottom:70px"> 
       <h1 style="text-align: center;"> Extracurriculars</h1>
       <pre style= "font-size:25px;">
Global Engineering Club:
<a style="font-size: 15px;">The GEC organizes events to integrate engineering students into the
other faculties. We coordinate events to spread awareness of 
engineering problems. The GEC works alongside other faculties and
clubs to expand engineering connections</a>
</pre>
    </div>
    -->