<br>
<div class="contactBox">
    <br>
    <h1 >Contact Information</h1>
    <p style= "font-size:large"> justinnguyen1337@gmail.com</p>
    <br>
    <div>
        <p style= "font-size:large"> Github</p>
    <a href="https://github.com/justinnguyen1337">
        <img src="../../assets/github.png" alt="https://github.com/justinnguyen1337" style="width:100px;height:100px;border:0;padding:10px">
    </a>
        <p style= "font-size:large"> LinkedIn</p>
    <a href="https://linkedin.com/in/justin-nguy">
        <img src="../../assets/linkedin.jpg" alt="https://linkedin.com/in/justin-nguy" style="width:100px;height:100px;border:0;padding:10px">
    </a>
    </div>
    <br>
</div>


