
<div class="titleDiv" >
  <img src="../assets/Justin1.jpg" alt="Justin" class="profilePic">
  <h1 class="title">{{title}}</h1>
</div>


  <ul class="navigation">
    <li class="navli"><a href="home">Home</a></li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbutton">Projects</a>
      <div class="dropdown-content">
        <a href="clock">Clock</a>
        <a href="ascii">Ascii Encoder</a>
        <a href="caesar">Caesar Cipher</a>
        <a href="https://github.com/justinnguyen1337">Github</a>
      </div>
    </li>
    <li class="navli" style="float:right;"><a href="contact">Contact</a></li>
    
    
    
    
  </ul>

<router-outlet></router-outlet>


