<br/>
<h1 class="aboutTitle">About Me</h1>

<p class="aboutContent">
    I am a student at the University of Waterloo's Electrical Engineering program who
    <br>
    aims to cross into as many fields as I can, such as web development and technology.
</p>

<br>
<h2 id="skills" class="abouth2">Skills</h2>
<p class="aboutContent">
    <a style="font-weight:bold">Programming Languages: </a> C++ • Python • JavaScript • SQL • Swift • HTML • C# 
    <br>
    <a style="font-weight:bold">Development Tools: </a> Angular • React • CSS • Node • Git
    <br>
    <a style="font-weight:bold">Technology: </a> Arduino • AutoCAD • Microsoft Office
</p>

<br>
<h2 class="abouth2">Work Experience</h2>
<p class="aboutContent">
    <a style="font-weight:bold">University of Waterloo: </a> Software Developer   June 2020 - August 2020
    <br>
    <a style="font-weight:bold">Toronto Police Service: </a> Youth in Policing Inititative  July 2019 - August 2019
    <br>
    <a style="font-weight:bold">Pizza Nova: </a> Cashier    January 2016 - June 2019
</p>

<br>
<h2 class="abouth2">Extracurriculars</h2>
<p class="aboutContent">
    <a style="font-weight:bold">Global Engineering Club</a>
</p>